html,
body {
    margin: 0;
    padding: 0;
    overflow: visible; /* Hide scrollbars */
    font-family: "Lucida Console", "Courier New", monospace;
}

/* Apply box-sizing to all elements */
* {
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
    background-color: #1f2937;
    color: #fff;
    text-align: center;
    padding: 20px;
}
  

h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #fcd34d;
}
  
h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
}
  
h3 {
    font-size: 1.25rem;
    color: #9ca3af;
}
  
p {
    width: 35%;
}

.bot-link:hover {
    filter: drop-shadow(0 0 5px #fff);
}

.commands {
    margin-top: 20px;
}
  
.commands h2 {
    font-size: 1.0rem;
    margin-bottom: 10px;
}
  
.commands ul {
    list-style-type: none;
    padding: 0;
}
  
.commands li {
    margin-bottom: 8px;
    font-size: 1rem;
    color: #ffffff;
    padding: 6px 12px;
    border-radius: 6px;
    background-color: #32404e;
    transition: background-color 0.3s ease;
    position: relative;
}

.commands li:hover {
    background-color: #3e4e5e;
    cursor: cell;
    filter: drop-shadow(0 0 5px #fff);
}

.subcommands-container {
    margin: 0 auto;
    padding: 20px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.subcommands {
    position: relative;
    width: calc(33.33% - 20px);
    border-radius: 10px;
    margin-top: 20px;
    background-color: #253547;
    padding: 20px;
    transition: background-color 0.3s ease;
}

.subcommands:hover {
    background-color: #2f475f;
    border: 1px solid #fff;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0px;
    font-size: 0.8rem;
    color: #9ca3af;
}

.footer p {
    width: 28%;
    line-height: 1.5;
    margin-bottom: 20px;
}

.footer-links {
    display: flex;
    flex-direction: row;
    gap: 60px;
    transition: color 0.3s ease;
}

.footer-links a {
    color: #9ca3af;
    border-bottom: 1px solid #9ca3af;
    text-decoration: none;
}

.footer a:hover {
    color: #fcd34d;
    border-bottom: 1px solid #fcd34d;
}

.tooltip {
    display: none;
    position: absolute;
    border: 1px solid #fff;
    width: 100%;
    background-color: #1f2937;
    color: #fff;
    font-size: 0.9rem;
    text-align: center;
    padding: 10px;
    border-radius: 6px;
    z-index: 1;
    bottom: 120%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
}

.tooltip b {
    border-bottom: 1px solid #9ca3af;
    line-height: 35px;
}

.commands li:hover .tooltip {
    display: block;
    opacity: 1;
    transform: translateX(-50%) translateY(-5px);
}
 
.commands .tooltip .star {
    position: absolute;
    width: 2px;
    height: 2px;
    background-color: #fff;
    animation: sparkle 1.5s infinite linear;
    display: none;
}

.commands li:hover .tooltip .star {
    display: block;
}

@keyframes sparkle {
    0% {
        opacity: 0;
        transform: translateY(-50%);
    }
    50% {
        opacity: 1;
        transform: translateY(50%);
    }
    100% {
        opacity: 0;
        transform: translateY(150%);
    }
}

/* For screens with a maximum width of 1200px */
@media screen and (max-width: 1200px) {
    .container {
      padding: 15px; /* Adjusted padding for medium-sized screens */
    }
  
    h1 {
      font-size: 2.5rem; /* Decrease font size for the heading */
    }
  
    p {
      font-size: 1rem; /* Decrease font size for the paragraph */
    }
  
    .subcommands {
      width: calc(50% - 20px); /* Adjust width for smaller screens */
    }

    .footer p {
        width: 60%; /* Adjust width for smaller mobile devices */
    }
  }
  
  /* For screens with a maximum width of 992px */
  @media screen and (max-width: 992px) {
    h1 {
      font-size: 2rem; /* Decrease font size for smaller desktops and larger tablets */
    }
  
    p {
      font-size: 1rem; /* Decrease font size for smaller desktops and larger tablets */
    }
  
    .subcommands {
      width: calc(50% - 20px); /* Adjust width for smaller screens */
    }

    .footer p {
        width: 60%; /* Adjust width for smaller mobile devices */
    }
  }
  
  /* For screens with a maximum width of 768px */
  @media screen and (max-width: 768px) {
    h1 {
      font-size: 1.8rem; /* Adjust font size for tablets and large mobile devices */
    }
  
    p {
      font-size: 0.9rem; /* Adjust font size for tablets and large mobile devices */
    }
  
    .subcommands {
      width: calc(100% - 20px); /* Adjust width for smaller screens */
    }

    .footer p {
        width: 80%; /* Adjust width for smaller mobile devices */
    }
  }
  
  /* For screens with a maximum width of 576px */
  @media screen and (max-width: 576px) {
    h1 {
      font-size: 1.5rem; /* Adjust font size for smaller mobile devices */
    }
  
    .container p {
        width: 80%; /* Adjust width for smaller mobile devices */
    }

    p {
      font-size: 0.8rem; /* Adjust font size for smaller mobile devices */
    }
  
    .subcommands {
      width: calc(100% - 20px); /* Adjust width for smaller screens */
    }
  }
