html,
body {
    margin: 0;
    padding: 0;
    overflow: visible; /* Hide scrollbars */
    font-family: "Lucida Console", "Courier New", monospace;
}

/* Apply box-sizing to all elements */
* {
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
    background-color: #0e1015;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.bot-link{
    background-color: #2e323d;
    border-radius: 3px;
    font-size: .9rem;
    font-weight: bold;
    padding: 5px 15px;
    color: #fff;
    list-style: none;
    text-decoration: none;
    margin-top: 10px;
}

.bot-link:hover {
    border: 1px solid #68D391;
    cursor: pointer;
    filter: drop-shadow(0 0 5px #fff);
}

h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #68D391;
}
  
h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
}
  
h3 {
    font-size: 1.25rem;
    margin-bottom: 5px;
    color: #9ca3af;
}
  
p {
    width: 40%;
    line-height: normal;
}

.commands {
    margin-top: 20px;
}
  
.commands h2 {
    font-size: 1.0rem;
    margin-bottom: 10px;
}
  
.commands ul {
    list-style-type: none;
    padding: 0;
}
  
.commands li {
    margin-bottom: 8px;
    font-size: 1rem;
    color: #ffffff;
    padding: 6px 12px;
    border-radius: 6px;
    background-color: #32404e;
    transition: background-color 0.3s ease;
    position: relative;
}

.commands li:hover {
    background-color: #3e4e5e;
    cursor: cell;
    filter: drop-shadow(0 0 5px #fff);
}

.subcommands-container {
    margin: 0 auto;
    padding: 20px;
    width: 70%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.subcommands {
    position: relative;
    background-color: #2D3748;  
    width: calc(50% - 20px);
    height: 100%;
    margin: 0 auto;
    padding: 20px;
    color: #fff;
    border-radius: 8px;
    transition: max-height 0.5s ease-out;
}

.subcommands h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;   
    background-color: #4A5568;
    color: #68D391;
    margin: 0;
    padding: 10px 20px;
    cursor: pointer;
}

.subcommands h2:hover {
    transform: scale(.98);
    transition: transform 0.2s ease;
    border: 1px solid #68D391;
}

.arrow-indicator {
    display: inline-block;
    transition: transform 0.3s ease-out;
    transform: rotate(0deg);
}

.subcommands h2.expanded .arrow-indicator {
    transform: rotate(-180deg);
    filter: drop-shadow(0 0 5px #68D391);
}

.subcommands h2.expanded {
    border: 1px solid #68D391;
}

.subcommands ul {
    list-style: none;
    padding: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.subcommands ul.expanded {
    max-height: 1000px;    
}

.subcommands li {
    background-color: #4A5568;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    position: relative;
    transition: background-color 0.3s ease;
}

.subcommands li:hover {
    background-color: #718096;
    transform: scale(.95);
    transition: transform 0.2s ease;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0px;
    font-size: 1rem;
    color: #9ca3af;
}

.footer p {
    width: 28%;
    line-height: 1.5;
    margin-bottom: 20px;
}

.footer-links {
    display: flex;
    flex-direction: row;
    gap: 60px;
    transition: color 0.3s ease;
}

.footer-links a {
    color: #9ca3af;
    border-bottom: 1px solid #9ca3af;
    text-decoration: none;
}

.footer a:hover {
    color: #68D391;
    border-bottom: 1px solid #68D391;
}

.tooltip {
    display: none;
    position: absolute;
    transform: translateX(-10%);
    transition: opacity 0.2s, transform 0.2s;
    background-color: #1f2937;
    border: 1px solid #fff;
    width: 100%;
    bottom: 120%;
    z-index: 1;
    color: #fff;
    font-size: 0.9rem;
    text-align: center;
    padding: 10px;
    border-radius: 6px;
    opacity: 0;
}

.tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #1f2937 transparent transparent transparent;
}

.tooltip b {
    border-bottom: 1px solid #9ca3af;
    line-height: 35px;
}

.commands li {
    z-index: 2;
    display: inline-block;
    cursor: pointer;
    width: 45%;
    height: 100%;
    padding: 10px;
    margin: 10px;
}

.commands li:hover .tooltip {
    display: block;
    opacity: 1;
    transform: translateX(-2%) translateY(-20%);
}
 
.commands .tooltip .star {
    position: absolute;
    width: 2px;
    height: 2px;
    background-color: #fff;
    animation: sparkle 1.5s infinite linear;
    display: none;
}

.commands li:hover .tooltip .star {
    display: block;
}

@keyframes sparkle {
    0% {
        opacity: 0;
        transform: translateY(-50%);
    }
    50% {
        opacity: 1;
        transform: translateY(50%);
    }
    100% {
        opacity: 0;
        transform: translateY(150%);
    }
}

/* For screens with a maximum width of 1200px */
@media screen and (max-width: 1200px) {
    .container {
      padding: 15px; /* Adjusted padding for medium-sized screens */
    }
  
    h1 {
      font-size: 2.5rem; /* Decrease font size for the heading */
    }
  
    p {
      font-size: 1rem; /* Decrease font size for the paragraph */
    }
  
    .subcommands {
      width: calc(50% - 20px); /* Adjust width for smaller screens */
    }

    .footer p {
        width: 60%; /* Adjust width for smaller mobile devices */
    }
  }
  
  /* For screens with a maximum width of 992px */
  @media screen and (max-width: 992px) {
    h1 {
      font-size: 2rem; /* Decrease font size for smaller desktops and larger tablets */
    }
  
    p {
      font-size: 1rem; /* Decrease font size for smaller desktops and larger tablets */
    }
  
    .subcommands {
      width: calc(50% - 20px); /* Adjust width for smaller screens */
    }

    .footer p {
        width: 60%; /* Adjust width for smaller mobile devices */
    }
  }
  
  /* For screens with a maximum width of 768px */
  @media screen and (max-width: 768px) {
    h1 {
      font-size: 1.8rem; /* Adjust font size for tablets and large mobile devices */
    }
  
    p {
      font-size: 0.9rem; /* Adjust font size for tablets and large mobile devices */
    }
  
    .subcommands {
      width: calc(100% - 20px); /* Adjust width for smaller screens */
    }

    .footer p {
        width: 80%; /* Adjust width for smaller mobile devices */
    }
  }
  
  /* For screens with a maximum width of 576px */
  @media screen and (max-width: 576px) {
    h1 {
      font-size: 1.5rem; /* Adjust font size for smaller mobile devices */
    }
  
    .container p {
        width: 80%; /* Adjust width for smaller mobile devices */
    }

    p {
      font-size: 0.8rem; /* Adjust font size for smaller mobile devices */
    }
  
    .subcommands {
      width: calc(100% - 20px); /* Adjust width for smaller screens */
    }
  }
